{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
{% include 'inc/_header_nosearch.html' %}

<section class="common_unit add-word">
        <div class="container">
            <div class="add-word__form-wrapper">
                <div class="common_unit-title add-word__title">
                    Добавить слово
                </div>

                <div class="add-word-desc">
                    Если выхотите, чтобы опубликованная вами информация надолго осталась в базе слов, помните: <span>слово
                    должо быть полезно другим пользователям и не должно содержать неприемлемый контент</span>
                </div>

                {% if messages %}
                {% for message in messages %}
                <div class="messages">
                    {% if message.tags == 'error' %}
                    <div class="messages__error">
                        {{ message|safe }}
                    </div>
                    {% else %}
                    <div class="messages__success">
                        {{ message }}
                    </div>
                    {% endif %}
                </div>

                {% endfor %}
                {% endif %}

                <form class="complain__form-form " method="post">
                    {%csrf_token%}
                    <label for="{{ form.word.id_for_label }}">Имя пользователя</label>
                    {{form.word}}
                    <label for="{{ form.definition.id_for_label }}">Определение</label>
                    {{form.definition}}
                    <label for="{{ form.example.id_for_label }}">Пример использования в контексте</label>
                    {{form.example}}
                    <div class="add-word__form-formbnts general__btn">
                        <a href="{% url 'main' %}">Отмена</a>
                        <a href="#confirmation-popup" class="complain__form-bnt">Отправить</a>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% include 'inc/_popup.html' %}

{% endblock %}