{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
{% include 'inc/_header_nosearch.html' %}

<section class="login">
    <div class="container">
        <div class="login__form-wrapper">

            <form action="" class="complain__form-form">
                <label for="name">Имя пользователя</label>
                <input type="text" name="name" class="login__general-input" placeholder="Введите имя пользователя">
                <label for="pass">Пароль</label>
                <input type="password" name="pass" class="login__general-input" placeholder="Введите пароль">
                <div class="login__form-formbnts general__btn">
                    <button class="login__form-btn">Войти</button>
                </div>
            </form>
            <div class="login__reg-link">
                Нет аккаунта? <a href="{%url 'register'%}">Зарегистрироваться</a>
            </div>
        </div>

    </div>

</section>

{% endblock %}