{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
{% include 'inc/_header_nosearch.html' %}

<section class="login">
    <div class="container">
        <div class="login__form-wrapper">

            <form class="complain__form-form" method="post">
                {%csrf_token%}
                <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
                {{form.username}}

                <label for="{{ form.password.id_for_label }}">Пароль</label>
                {{form.password}}

                <div class="login__form-formbnts general__btn">
                    <button class="login__form-btn" type="submit">Войти</button>
                </div>
            </form>
            <div class="login__reg-link">
                Нет аккаунта? <a href="{%url 'register'%}">Зарегистрироваться</a>
            </div>
        </div>

    </div>

</section>

{% endblock %}