{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
{% include 'inc/_header_search.html' %}

<section class="words">
    <div class="container">
        {% if messages %}
                {% for message in messages %}
                <div class="messages">
                    {% if message.tags == 'error' %}
                    <div class="messages__error">
                        {{ message|safe }}
                    </div>
                    {% else %}
                    <div class="messages__success">
                        {{ message }}
                    </div>
                    {% endif %}
                </div>

                {% endfor %}
                {% endif %}
        <div class="profile__info">
            <div class="profile__info-title">
                Мой профиль
            </div>
            <div class="profile__info-user">
                <div class="info-user__personal-info">
                    <div class="personal-info__name">
                        Имя пользователя: <span>{{ user.username }}</span>
                    </div>
                    <div class="personal-info__pass">
                        Пароль: <span>********</span>
                    </div>
                    <div class="personal-info__date">
                        Дата регистрации: <span>{{ user.date_joined.date|date:"j.m.Y" }}</span>
                    </div>
                </div>
                <div class="info-user__actions">
                    <div class="actions__change-profile">
                        <a href="#change_name" class="change-name__magnific-popup">
                            Изменить данные профиля
                        </a>
                    </div>
                    <div class="actions__exit">
                        <a href="{% url 'logout' %}">
                            Выйти
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="words__title">Мои определения</div>
        <div class="words__wrapper">
            {% include 'inc/_word_cycle.html' %}
        </div>

        {% include 'inc/_social.html' %}
    </div>
</section>

<div id="change_name" class="profile-change mfp-hide">
    <div class="profile-change__wrapper">
        <form class="profile-change__form" method="post">
            {% csrf_token %}
            <label for="{{ form.username.id_for_label }}">Изменить имя</label>
                {{form.username}}
            <div class="profile-change__submit-btn general__btn">
                <button type="submit">Изменить</button>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}