{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
{% include 'inc/_header_nosearch.html' %}

<section class="complain__form">
    <div class="container">
        <div class="complain__form-wrapper">
            <div class="complain__form-title">
                Неприемлемый контент: <span>{{word.word}}</span>
            </div>

            <div class="complain__form-desc">
                Объясните почему вы считаете, что это слово должно быть
                удалено с портала
            </div>

            <form class="complain__form-form" method="post">
                {%csrf_token%}
                {{form.complaint}}
<!--                <textarea name="" id="" placeholder="Введите текст"></textarea>-->
                <div class="complain__form-formbnts general__btn">
                    <a href="{% url 'main' %}">Отмена</a>
                    <a href="#confirmation-popup" class="complain__form-bnt">Отправить</a>
                </div>
            </form>
        </div>
    </div>
</section>

{% include 'inc/_popup.html' %}

{% endblock %}