{% for word in words %}
{% load favorites %}

{% if request.user.is_authenticated %}
{% favorite_words request=request as marks_favorite_obj %}
{% endif %}

<div class="word__item">
    <div class="word__item-name">
        <a href="{% url 'search' type='word' value=word.word %}">{{word.word}}</a>
        {% if request.user.is_authenticated %}
        <form class="word__item-form" action="{% url 'favorite' id=word.id %}" method="get">
            <div class="word__item-favorite">
                <button type="submit"
                        {% for i in  marks_favorite_obj.favorite %}
                        {% if i.word_id == word %}
                class="favorite--clicked"
                        {% endif %}
                        {% endfor %}
                >
                </button>
            </div>
        </form>

        {% endif %}



    </div>
    <div class="word__item-desc">
        {{word.definition}}
    </div>
    <div class="word__item-example">
        {{word.example}}
    </div>
    <div class="word__item-authordate">
        <a href="{% url 'search' type='author' value=word.user_id.name.username %}">{{word.user_id}} </a> опубликовал <span>{{word.word_add_date|date:"j.m.Y"}}</span>
    </div>
    <div class="word__item-marks">
        <div class="word__item-markswrapper">
            <a href="{% url 'marks' id=word.id mark=0 %}" class="word__item-markslike
               {% for i in  marks_favorite_obj.marks %}
        {% if i.word_id == word  %}
        {% if not i.mark %}
         word__item-markslike--clicked
        {% endif %}
        {% endif %}
        {% endfor %}
            ">
                <span>{{word.like}}</span>
                <svg
                        {% if request.user.is_authenticated %}
                        class="authenticated"
                        {% endif %}
                        viewBox="0 0 512 512" id="_x30_1" style="enable-background:new 0 0 512 512;"
                     version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g>
                                        <path
                                                d="M80,186H20c-11.046,0-20,8.954-20,20v250c0,11.046,8.954,20,20,20h60c11.046,0,20-8.954,20-20V206   C100,194.954,91.046,186,80,186z"/>
                                        <path
                                                d="M337.137,186c-15.4,0-25.247-16.411-18-30l36.434-68.313C368.057,64.275,351.092,36,324.559,36h0   c-9.322,0-18.261,3.703-24.853,10.294L183.431,162.569C168.429,177.572,160,197.92,160,219.137V396c0,44.183,35.817,80,80,80   h165.644c27.304,0,51.165-18.435,58.057-44.855l46.577-178.544c1.143-4.383,1.722-8.894,1.722-13.423v0   C512,209.809,488.191,186,458.822,186H337.137z"/>
                                    </g>
                                </svg>
            </a>
            <a href="{% url 'marks' id=word.id mark=1 %}" class="word__item-marksdislike
               {% for i in  marks_favorite_obj.marks %}
        {% if i.word_id == word  %}
        {% if i.mark %}
         word__item-marksdislike--clicked
        {% endif %}
        {% endif %}
        {% endfor %}
            ">
                <span>{{word.dislike}}</span>
                <svg
                        {% if request.user.is_authenticated %}
                        class="authenticated"
                        {% endif %}
                        viewBox="0 0 512 512" id="_x30_1" style="enable-background:new 0 0 512 512;"
                     version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g>
                                        <path
                                                d="M80,186H20c-11.046,0-20,8.954-20,20v250c0,11.046,8.954,20,20,20h60c11.046,0,20-8.954,20-20V206   C100,194.954,91.046,186,80,186z"/>
                                        <path
                                                d="M337.137,186c-15.4,0-25.247-16.411-18-30l36.434-68.313C368.057,64.275,351.092,36,324.559,36h0   c-9.322,0-18.261,3.703-24.853,10.294L183.431,162.569C168.429,177.572,160,197.92,160,219.137V396c0,44.183,35.817,80,80,80   h165.644c27.304,0,51.165-18.435,58.057-44.855l46.577-178.544c1.143-4.383,1.722-8.894,1.722-13.423v0   C512,209.809,488.191,186,458.822,186H337.137z"/>
                                    </g>
                                </svg>
            </a>
        </div>
        {% if request.user.is_authenticated %}
        <a href="{% url 'complain' id=word.id %}" class="word__item-complain">
            <svg  viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                 class="iconify iconify--emojione" preserveAspectRatio="xMidYMid meet">
                <g fill="#000">
                    <path d="M37 42.4H27L23 2h18z"></path>
                    <ellipse cx="32" cy="54.4" rx="7.7" ry="7.6"></ellipse>
                </g>
            </svg>
        </a>
        {% endif %}
    </div>
</div>
{% endfor %}
